
<br><div style="text-align:center">AJOUTER UNE TACHE</div><br> 


<form>
    <div style="text-align:center">
        <a>Intitulé</a><br>
        <input type="text">
    </div>
    <br>
    <div style="text-align:center">
        <a>Description</a><br>
        <input type="text">
    </div>
    <br>
    <div style="text-align:center">
        <a>Date de création</a><br>
        <input type="text">
    </div>
    <br>
    <div style="text-align:center">
        <a>Deadline</a><br>
        <input type="text">
    </div>
    <br>
    <div style="text-align:center">
        <a>Date de fin</a><br>
        <input type="text">
    </div>
    <br>
    <div style="text-align:center">
        <a>Priorité</a><br>
        <input type="text">
    </div>
    
</form>


